<div class ="table-responsive">
	<table class ="table table-hover table-border">
		<th>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>TITLE</th>
				<th>SECTION</th>
				<th>CATEGORY</th>
				<th>CREATED</th>
			</tr>
		</th>
		<tbody>
			
	<% @software.each do |s| %>
		<tr>
			<td><%= s.id %></td>
			<td><%= s.name %></td>	
			<td><%= s.title %></td>
			<td><%= s.section %></td>
			<td><%= s.category %></td>
			<td><%= time_ago_in_words(s.created_at, include_seconds:true) %></td>
			</tr>
	<% end %>
	
	</table>