<nav class = "navbar navbar-default-fixed-top"> 
	<ul class = "nav navbar-nav ">
		<li> <%= link_to "HOME", root_path%></li>
	</ul>
	<ul class = "nav navbar-nav navbar-center ">
		<li> <%= link_to "SOFTWARE", pages_software_path%></li>
	</ul>
	<ul class = "nav navbar-nav navbar-center ">
		<li> <%= link_to "INTERNSHIP", pages_internship_path%></li>
	</ul>
	<ul class = "nav navbar-nav navbar-center ">
		<li> <%= link_to "TRAINING", pages_training_path%></li>
	</ul>
	<ul class = "nav navbar-nav navbar-right ">
		<li><%= link_to "ADMIN", rails_admin_path%></li>
	</ul>
	
</nav>

